body{
    background-image: url("/images/pizza-g528c3de84_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}
h2{
    font-size: 3em;
}
p{
    font-size: 2em;
}
.pics{
    display: flex;
    flex-direction: row;

}
.container{
    background-color: beige;
    margin-top: 4em;
}
#hup{
    text-align: center;
    margin-top: em;
    font-family: 'Hurricane';
    color: chocolate;
    font-size: 5em;
}
.size{
    margin-bottom: 5em;
}
.pic{
    border-radius: 50%;
}
.ip{
    font-family: 'Hurricane';
    text-align: center;
    font-size: 1.5em;
    margin-top: 5em;

}
.ip h4{
    font-size: 2em;
    color: chocolate;
}
.order{
    width: 140px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    margin-top: 5em;
}
.menu{
    text-align: center;
    margin-top: 4em;

}.menu h4{
    font-size: 3em;
}
.end h4{
    margin-top: 3em;
}
.table{
    width: 40%;
    margin-top: 3em;
    margin-bottom: 2em;
    display: block;
}
.size, .toppings, .crust{
    width: 80%;
    height: 3em;
}
.high{
    margin-top: 7em;
}
