body{
    background-image: url("/images/pizza-g528c3de84_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}
h2{
    font-size: 3em;
}
p{
    font-size: 2em;
}
.pics{
    display: flex;
    flex-direction: row;

}
.container{
    background-color: beige;
    margin-top: 4em;
}
.hup{
    text-align: center;
    margin-top: em;
}